@charset "utf-8";
	.st0
{
	background : #A52A2A;
	background : rgba(165, 42, 42, 1);
	position : absolute ;
	left : 1815pt;
	top : 19pt;
}
.st1
{
	background : #A52A2A;
	background : rgba(165, 42, 42, 1);
	position : absolute ;
	left : 1539pt;
	top : 1048pt;
}
.st2
{
	background : #A52A2A;
	background : rgba(165, 42, 42, 1);
	position : absolute ;
	left : 2191pt;
	top : 799pt;
}
.st3
{
	background : #A52A2A;
	background : rgba(165, 42, 42, 1);
	position : absolute ;
	left : 1937pt;
	top : 368pt;
}
.st4
{
	background : #A52A2A;
	background : rgba(165, 42, 42, 1);
	position : absolute ;
	left : 2499pt;
	top : 1191pt;
}
.st5
{
	background : #A52A2A;
	background : rgba(165, 42, 42, 1);
	position : absolute ;
	left : 1265pt;
	top : 21pt;
}
.st6
{
	background : #A52A2A;
	background : rgba(165, 42, 42, 1);
	position : absolute ;
	left : 2414pt;
	top : 1708pt;
}
.st7
{
	background : #A52A2A;
	background : rgba(165, 42, 42, 1);
	position : absolute ;
	left : 2377pt;
	top : 1535pt;
}
.st8
{
	background : #A52A2A;
	background : rgba(165, 42, 42, 1);
	position : absolute ;
	left : 302pt;
	top : 8pt;
}
.st9
{
	background : #A52A2A;
	background : rgba(165, 42, 42, 1);
	position : absolute ;
	left : 806pt;
	top : 15pt;
}
.st10
{
	background : #A52A2A;
	background : rgba(165, 42, 42, 1);
	position : absolute ;
	left : 1370pt;
	top : 407pt;
}
.st11
{
	background : #A52A2A;
	background : rgba(165, 42, 42, 1);
	position : absolute ;
	left : 2271pt;
	top : 11pt;
}
.st12
{
	background : #A52A2A;
	background : rgba(165, 42, 42, 1);
	position : absolute ;
	left : 1682pt;
	top : 622pt;
}
.st13
{
	background : #A52A2A;
	background : rgba(165, 42, 42, 1);
	position : absolute ;
	left : 2237pt;
	top : 353pt;
}
.st14
{
	background : #A52A2A;
	background : rgba(165, 42, 42, 1);
	position : absolute ;
	left : 1855pt;
	top : 514pt;
}
.st15
{
	background : #A52A2A;
	background : rgba(165, 42, 42, 1);
	position : absolute ;
	left : 1527pt;
	top : 21pt;
}
.st16
{
	background : #A52A2A;
	background : rgba(165, 42, 42, 1);
	position : absolute ;
	left : 2035pt;
	top : 15pt;
}
.st17
{
	background : #A52A2A;
	background : rgba(165, 42, 42, 1);
	position : absolute ;
	left : 2172pt;
	top : 476pt;
}
.st18
{
	background : #A52A2A;
	background : rgba(165, 42, 42, 1);
	position : absolute ;
	left : 2692pt;
	top : 1278pt;
}
.st19
{
	background : #A52A2A;
	background : rgba(165, 42, 42, 1);
	position : absolute ;
	left : 1609pt;
	top : 376pt;
}
.st20
{
	background : #A52A2A;
	background : rgba(165, 42, 42, 1);
	position : absolute ;
	left : 1952pt;
	top : 982pt;
}
.st21
{
	background : #A52A2A;
	background : rgba(165, 42, 42, 1);
	position : absolute ;
	left : 2465pt;
	top : 1501pt;
}
.st22
{
	background : #A52A2A;
	background : rgba(165, 42, 42, 1);
	position : absolute ;
	left : 2436pt;
	top : 600pt;
}
.st23
{
	background : #A52A2A;
	background : rgba(165, 42, 42, 1);
	position : absolute ;
	left : 2473pt;
	top : 1443pt;
}
.st24
{
	background : #A52A2A;
	background : rgba(165, 42, 42, 1);
	position : absolute ;
	left : 1830pt;
	top : 1236pt;
}
.st25
{
	background : #A52A2A;
	background : rgba(165, 42, 42, 1);
	position : absolute ;
	left : 2203pt;
	top : 1038pt;
}
.st26
{
	background : #A52A2A;
	background : rgba(165, 42, 42, 1);
	position : absolute ;
	left : 0pt;
	top : 0pt;
}
