* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    color: #454545;
    background: #47A8BD;
    }
  
  .nav-bar {
    height: 70px;
    background: #a52a2a;
    }
     
  .brand {
    position: absolute;
    padding-left: 20px;
    padding-top: 10px;
    float: left;
    line-height: 70px;
    text-transform: uppercase;
    font-size: 1.4em;
    }
  
  .brand a img {
    max-height: 70px;
    }
  
  .brand a,
  .brand a:visited {
    color: #ffffff;
    text-decoration: none;
    }
     
  .nav-container {
    max-width: 1600px;
    margin: 0 auto;
    }
     
  nav {
    float: right;
    }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    }
  
  nav ul li {
    float: left;
    position: relative;
    z-index:50;
    }
  
  nav ul li a,
  nav ul li a:visited {
    display: block;
    padding: 0 20px;
    line-height: 70px;
    background: #a52a2a;
    color: #ffffff;
    text-decoration: none;
    }
  
  nav ul li a:hover,
  nav ul li a:visited:hover {
    background: #47A8BD;
    color: #ffffff;
    }
  
  nav ul li a:not(:only-child):after,
  nav ul li a:visited:not(:only-child):after {
    padding-left: 4px;
    content: ' ▾';
    }
  
  nav ul li ul li {
    min-width: 100%;
    }
  
  nav ul li ul li a {
    padding: 15px;
    line-height: 20px; 
    }
     
  .nav-dropdown {
    background: #ffffff;
    color: #a52a2a;
    position: absolute;
    display: none;
    z-index: 1;
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
    }
   
   
  .nav-mobile {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    background: #262626;
    height: 70px;
    width: 70px;
    }   
    }
  
  h1 {
    position: absolute;
    right: 0;
    top: 0;
    width: 500px;
    }
  
  
  
  
    .copyright{
      font-size: 8pt;  
      Padding: 5px 40px;
      }
  
  
  
    
    
      
    @media only screen and (max-width: 798px) {
    
      .grid-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        background-color: brown;
         gap: 15px;
         padding: 15px 15px;
       }
  
  
      .copyright{
        text-align: center;
      }
  
      .bottom {
        list-style-type: none;
        Display: flex;
        Padding-right: 40px;
        Padding-top:20px;
        Padding-bottom:3px;
        justify-content:space-between;
        font-size: 0pt;
      }   
  
  
  .container{
    display: flex; 
    }
      
  .untappd{
    width:0px;
    padding:-5px;
    margin: -10px;
    visibility: hidden;
    }
      
  .cider-container{ 
    height: 200px;
    overflow: hidden;
    position: relative; 
    border-top-left-radius: 5px;
    border-top-right-radius: 5px; 
    }
      
  .Cider-logos{
    position: relative;
    width:100%;
    height:160px;
    top: 10px;
    bottom: 5px;
    margin: auto;  
    } 
      
  .Cider-map{
    visibility: hidden;
    Height: 0px;
    Padding: 0px;
    Margin:0px;
    } 
      
  .nav-mobile {
    display: block;
    }
      
  h4{
    text-align: center;
    margin: 0px;
    Padding:10px;
    }
     
  .nav-menu-title{
    font-family: 'lato';
    font-size: 18px; 
    font-weight: bold;
    }
       
  nav {
    width: 100%;
    padding: 70px 0 0 0;
    }
  
  nav ul {
    display: none;
    }
  
  nav ul li {
    float: none;
    }
  
  nav ul li a {
    padding: 15px;
    line-height: 20px;
    text-align: center;
    }
  
  nav ul li ul li a {
    text-align: center;
    }
      
  .nav-dropdown {
    position: static;
  }
  
  .brand a img {  
    max-height: 60px;
    margin-top: 5px;
    }
    }
  
    footer {
      background-color:brown;
      color: white;
      font-family:"Lato";
    }
     
  
  
     @media screen and (min-width: 799px) {
     
      .grid-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        background-color: brown;
         gap: 15px;
         padding: 15px 15px;
       }
  
      .bottom {
        list-style-type: none;
        Display: flex;
        Padding-left: 35px;
        Padding-top:20px;
        margin:8px;
        justify-content:space-between;
        Width:30%;  
        font-size: 16pt;
      }
  
  .untappd{
    width:25px;
    }
      
  .Cider-map{
    display: block; 
    position: relative;
    max-width: 100%;
    }
  
  .cider-container{ 
    height: 350px;
    overflow: hidden;
    position: relative; 
    border-top-left-radius: 5px;
    border-top-right-radius: 5px; 
    }
  
  .Cider-logos{
    position: relative;
    width:100%;
    height:300px;
    top: 10px;
    bottom: 5px;
    margin: auto;  
    }
      
  .nav-list {
    display: block !important;
    }
     
  h4{
    padding-left: 5px;
    margin: 10px;
    }
       
  .nav-menu-title{
    font-family: 'lato';
    font-size: 20px;  
    }
     }
  
  #nav-toggle {
    position: absolute;
    left: 18px;
    top: 22px;
    cursor: pointer;
    padding: 10px 35px 16px 0px;
    }
  
  #nav-toggle span,
  #nav-toggle span:before,
  #nav-toggle span:after {
    cursor: pointer;
    border-radius: 1px;
    height: 5px;
    width: 35px;
    background: #ffffff;
    position: absolute;
    display: block;
    content: '';
    transition: all 300ms ease-in-out;
    }
  
  #nav-toggle span:before {
    top: -10px;
    }
  
  #nav-toggle span:after {
    bottom: -10px;
    }
  
  #nav-toggle.active span {
    background-color: transparent;
    }
  
  #nav-toggle.active span:before, #nav-toggle.active span:after {
    top: 0;
    }
  
  #nav-toggle.active span:before {
    transform: rotate(45deg);
    }
  
  #nav-toggle.active span:after {
    transform: rotate(-45deg);
    }
      
  article {
    max-width: 1000px;
    margin: 0 auto;
    padding: 10px;
    }
    
  .mdmap{
    width:900px;
    }
    
  
  .DC-Logo-Map{
    transform: “translate(-50%, 0%) ” + “scale(” + scale + “)
  }
  
  





















































































  .winterport-Small{
    position: absolute;
    display: block;
    width:1.7%;
    Height:auto;
    top: 20.8%;
    left: 78.2%;
    z-index: 4;
      }
  
  
  .winterport-Small:hover{
    transform: scale(1.5);
  }

  .whaleback-Small{
    position: absolute;
    display: block;
    width:2.2%;
    Height:auto;
    top: 43.8%;
    left: 74.62%;
    z-index: 4;
      }
  
  
  .whaleback-Small:hover{
    transform: scale(1.5);
  }

  .urban-farm-Small{
    position: absolute;
    display: block;
    width:1.6%;
    Height:auto;
    top: 95.8%;
    left: 73.8%;
    z-index: 4;
      }
  
  
  .urban-farm-Small:hover{
    transform: scale(1.5);
  }

  .tin-top-Small{
    position: absolute;
    display: block;
    width:1.5%;
    Height:auto;
    top: 76.4%;
    left: 45.3%;
    z-index: 4;
      }
  
  
  .tin-top-Small:hover{
    transform: scale(1.5);
  }

  .sweetgrass-Small{
    position: absolute;
    display: block;
    width:3%;
    Height:auto;
    top: 73.4%;
    left: 46.3%;
    z-index: 4;
      }
  
  
  .sweetgrass-Small:hover{
    transform: scale(1.5);
  }

  .stone-tree-Small{
    position: absolute;
    display: block;
    width:1.5%;
    Height:auto;
    top: 24.4%;
    left: 70%;
    z-index: 4;
      }
  
  
  .stone-tree-Small:hover{
    transform: scale(1.5);
  }

  .rocky-ground-Small{
    position: absolute;
    display: block;
    width:1.3%;
    Height:auto;
    top: 61.5%;
    left: 49%;
    z-index: 5;
      }
  
  
  .rocky-ground-Small:hover{
    transform: scale(1.5);
  }

  .ricker-hill-Small{
    position: absolute;
    display: block;
    width:2.5%;
    Height:auto;
    top: 73.2%;
    left: 40.2%;
    z-index: 4;
      }
  
  
  .ricker-hill-Small:hover{
    transform: scale(1.5);
  }

  .portersfield-Small{
    position: absolute;
    display: block;
    width:3%;
    Height:auto;
    top: 84.2%;
    left: 73.7%;
    z-index: 4;
      }
  
  
  .portersfield-Small:hover{
    transform: scale(1.5);
  }

  .orchard-girls-Small{
    position: absolute;
    display: block;
    width:1.6%;
    Height:auto;
    top: 57.2%;
    left: 41.3%;
    z-index: 4;
      }
  
  
  .orchard-girls-Small:hover{
    transform: scale(1.5);
  }

  .norumbega-Small{
    position: absolute;
    display: block;
    width:1.6%;
    Height:auto;
    top: 78%;
    left: 73%;
    z-index: 4;
      }
  
  
  .norumbega-Small:hover{
    transform: scale(1.5);
  }

  .kennebec-Small{
    position: absolute;
    display: block;
    width:2.5%;
    Height:auto;
    top: 67.5%;
    left: 19.7%;
    z-index: 4;
      }
  
  
  .kennebec-Small:hover{
    transform: scale(1.5);
  }

  .freedoms-edge-Small{
    position: absolute;
    display: block;
    width:1.5%;
    Height:auto;
    top: 57.4%;
    left: 27.3%;
    z-index: 4;
      }
  
  
  .freedoms-edge-Small:hover{
    transform: scale(1.5);
  }

  .fogtown-Small{
    position: absolute;
    display: block;
    width:2.8%;
    Height:auto;
    top: 67.5%;
    left: 52%;
    z-index: 4;
      }
  
  
  .fogtown-Small:hover{
    transform: scale(1.5);
  }

  .cornish-cider-Small{
    position: absolute;
    display: block;
    width:2.6%;
    Height:auto;
    top: 83.8%;
    left: 36.2%;
    z-index: 4;
      }
  
  
  .cornish-cider-Small:hover{
    transform: scale(1.5);
  }

  .bent-bough-Small{
    position: absolute;
    display: block;
    width:2.2%;
    Height:auto;
    top: 61.5%;
    left: 50%;
    z-index: 4;
      }
  
  
  .bent-bough-Small:hover{
    transform: scale(1.5);
  }

  .ayuh-cidah-Small{
    position: absolute;
    display: block;
    width:2.8%;
    Height:auto;
    top: 65%;
    left: 41%;
    z-index: 4;
      }
  
  
  .ayuh-cidah-Small:hover{
    transform: scale(1.5);
  }

  .apres-Small{
    position: absolute;
    display: block;
    width:1.9%;
    Height:auto;
    top: 94.5%;
    left: 72.5%;
    z-index: 4;
      }
  
  
  .apres-Small:hover{
    transform: scale(1.5);
  }

  .after-harvest-Small{
    position: absolute;
    display: block;
    width:2.9%;
    Height:auto;
    top: 89.7%;
    left: 35.9%;
    z-index: 4;
      }
  
  
  .after-harvest-Small:hover{
    transform: scale(1.5);
  }

  .absolem-Small{
    position: absolute;
    display: block;
    width:1.6%;
    Height:auto;
    top: 71.4%;
    left: 20.1%;
    z-index: 4;
      }
  
  
  .absolem-Small:hover{
    transform: scale(1.5);
  }


























  
  .me-Counties{
    padding-top:2%;
    position:relative;
    margin: auto;
    display: block;
    width:66.3%;
    z-index: 1;
    }
  
  a .Cider-logos:last-child {
    display: none;  
    }
  
  a:hover .Cider-logos:last-child {
    display: block;  
    }
  
  a:hover .Cider-logos:first-child {
    display: none;  
  }
    
  .ciderlogo{
    Display: grid;
    max-height: 500px;
  }
    
  h1 {
    text-align: center;
    font-family: 'Open Sans';
    Color: white;
    }
  
  h3{
    display:flex;
    justify-content: center;
    margin:auto;
    font-family:"Lato";
    font-weight: 850;
    font-size: 20pt;
    text-align: center;
    Color:#353839;
    }
  
    h3:hover{
      color: #47a8bd;
    }
    
  .cider-info-container{
    display:flex;
    justify-content: center;
    margin:0px;
    }
    
    
  .cider-info{
    margin:3px 0px;
    font-family:"Lato";  
    font-size: 10pt;
    padding-left: 3px;
    padding-right: 3px;
    }
    
  
    
  .address{
    font-size: 10pt; 
    display:flex;
    justify-content: center;
    margin:0px;
    font-family:"Lato";
    color:gray;
    padding-bottom: 12px;
    text-align: center;
    }
  
  a:link{
    text-decoration: none;
  }
  
  a:link:hover{
    font-weight: 900;
  }
  
  
  
  .county-text{
    font-size: 13pt; 
    display:flex;
    justify-content: center;
    margin:0px;
    font-family:"Lato";
    font-weight: 850;
    Color: brown;
    padding-bottom: 10px;
    text-align: center;
    }
    
  .grid-item{
    background-color:white;
    border-radius: 5px;
    padding-top: 12px;
    padding-bottom: 12px;
    }
    
  .pages{
     display:flex;
     justify-content: center;
     Font-size: 12px;
     font-family:"Lato";
     Padding-Top: 15px;
     margin:0;
    }
    
  .search-results{
     display:flex;
     justify-content: center;
     Font-size: 12px;
     font-family:"Lato";
     Color: gray;
     margin:0;
    }
    
  .bottom-menu{
     display:flex;
     justify-content: center;
     Font-size: 12px;
     Padding-bottom:20px;
     font-family:"Lato";
     margin:0;
    }
  
  .insights{
    Padding-right: 20px;
    Padding-left: 20px;
    font-family:"Lato";
    font-size: 14pt;
    }
    
  .zip{
    Padding-right: 60px;
    Padding-left: 60px;
    font-family:Lato;
    font-size: 10.5pt;
    Padding-bottom: 40px; 
    }
    
  footer {
    background-color:brown;
    color: white;
    font-family:"Lato";
    margin-top: -13px;
  }
    
  