* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    color: #454545;
    background: #47A8BD;
    }
  
  .nav-bar {
    height: 70px;
    background: #a52a2a;
    }
     
  .brand {
    position: absolute;
    padding-left: 20px;
    padding-top: 10px;
    float: left;
    line-height: 70px;
    text-transform: uppercase;
    font-size: 1.4em;
    }
  
  .brand a img {
    max-height: 70px;
    }
  
  .brand a,
  .brand a:visited {
    color: #ffffff;
    text-decoration: none;
    }
     
  .nav-container {
    max-width: 1600px;
    margin: 0 auto;
    }
     
  nav {
    float: right;
    }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    }
  
  nav ul li {
    float: left;
    position: relative;
    z-index:50;
    }
  
  nav ul li a,
  nav ul li a:visited {
    display: block;
    padding: 0 20px;
    line-height: 70px;
    background: #a52a2a;
    color: #ffffff;
    text-decoration: none;
    }
  
  nav ul li a:hover,
  nav ul li a:visited:hover {
    background: #47A8BD;
    color: #ffffff;
    }
  
  nav ul li a:not(:only-child):after,
  nav ul li a:visited:not(:only-child):after {
    padding-left: 4px;
    content: ' ▾';
    }
  
  nav ul li ul li {
    min-width: 100%;
    }
  
  nav ul li ul li a {
    padding: 15px;
    line-height: 20px; 
    }
     
  .nav-dropdown {
    background: #ffffff;
    color: #a52a2a;
    position: absolute;
    display: none;
    z-index: 1;
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
    }
   
   
  .nav-mobile {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    background: #262626;
    height: 70px;
    width: 70px;
    }   
    }
  
  h1 {
    position: absolute;
    right: 0;
    top: 0;
    width: 500px;
    }
  
  
  
  
    .copyright{
      font-size: 8pt;  
      Padding: 5px 40px;
      }
  
  
  
    
    
      
    @media only screen and (max-width: 798px) {
    
      .grid-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        background-color: brown;
         gap: 15px;
         padding: 15px 15px;
       }
  
  
      .copyright{
        text-align: center;
      }
  
      .bottom {
        list-style-type: none;
        Display: flex;
        Padding-right: 40px;
        Padding-top:20px;
        Padding-bottom:3px;
        justify-content:space-between;
        font-size: 0pt;
      }   
  
  
  .container{
    display: flex; 
    }
      
  .untappd{
    width:0px;
    padding:-5px;
    margin: -10px;
    visibility: hidden;
    }
      
  .cider-container{ 
    height: 200px;
    overflow: hidden;
    position: relative; 
    border-top-left-radius: 5px;
    border-top-right-radius: 5px; 
    }
      
  .Cider-logos{
    position: relative;
    width:100%;
    height:160px;
    top: 10px;
    bottom: 5px;
    margin: auto;  
    } 
      
  .Cider-map{
    visibility: hidden;
    Height: 0px;
    Padding: 0px;
    Margin:0px;
    } 
      
  .nav-mobile {
    display: block;
    }
      
  h4{
    text-align: center;
    margin: 0px;
    Padding:10px;
    }
     
  .nav-menu-title{
    font-family: 'lato';
    font-size: 18px; 
    font-weight: bold;
    }
       
  nav {
    width: 100%;
    padding: 70px 0 0 0;
    }
  
  nav ul {
    display: none;
    }
  
  nav ul li {
    float: none;
    }
  
  nav ul li a {
    padding: 15px;
    line-height: 20px;
    text-align: center;
    }
  
  nav ul li ul li a {
    text-align: center;
    }
      
  .nav-dropdown {
    position: static;
  }
  
  .brand a img {  
    max-height: 60px;
    margin-top: 5px;
    }
    }
  
    footer {
      background-color:brown;
      color: white;
      font-family:"Lato";
    }
     
  
  
     @media screen and (min-width: 799px) {
     
      .grid-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        background-color: brown;
         gap: 15px;
         padding: 15px 15px;
       }
  
      .bottom {
        list-style-type: none;
        Display: flex;
        Padding-left: 35px;
        Padding-top:20px;
        margin:8px;
        justify-content:space-between;
        Width:30%;  
        font-size: 16pt;
      }
  
  .untappd{
    width:25px;
    }
      
  .Cider-map{
    display: block; 
    position: relative;
    max-width: 100%;
    }
  
  .cider-container{ 
    height: 350px;
    overflow: hidden;
    position: relative; 
    border-top-left-radius: 5px;
    border-top-right-radius: 5px; 
    }
  
  .Cider-logos{
    position: relative;
    width:100%;
    height:300px;
    top: 10px;
    bottom: 5px;
    margin: auto;  
    }
      
  .nav-list {
    display: block !important;
    }
     
  h4{
    padding-left: 5px;
    margin: 10px;
    }
       
  .nav-menu-title{
    font-family: 'lato';
    font-size: 20px;  
    }
     }
  
  #nav-toggle {
    position: absolute;
    left: 18px;
    top: 22px;
    cursor: pointer;
    padding: 10px 35px 16px 0px;
    }
  
  #nav-toggle span,
  #nav-toggle span:before,
  #nav-toggle span:after {
    cursor: pointer;
    border-radius: 1px;
    height: 5px;
    width: 35px;
    background: #ffffff;
    position: absolute;
    display: block;
    content: '';
    transition: all 300ms ease-in-out;
    }
  
  #nav-toggle span:before {
    top: -10px;
    }
  
  #nav-toggle span:after {
    bottom: -10px;
    }
  
  #nav-toggle.active span {
    background-color: transparent;
    }
  
  #nav-toggle.active span:before, #nav-toggle.active span:after {
    top: 0;
    }
  
  #nav-toggle.active span:before {
    transform: rotate(45deg);
    }
  
  #nav-toggle.active span:after {
    transform: rotate(-45deg);
    }
      
  article {
    max-width: 1000px;
    margin: 0 auto;
    padding: 10px;
    }
    
  .mdmap{
    width:900px;
    }
    
  
  .DC-Logo-Map{
    transform: “translate(-50%, 0%) ” + “scale(” + scale + “)
  }
 
 
  








  .worthog-small{
    position: absolute;
    display: block;
    width:1.6%;
    Height:auto;
    top: 80%;
    left: 13.5%;
    z-index: 7; 
  }

  .worthog-small:hover{
    transform: scale(1.5);
  }

  .woodside-small2{
    position: absolute;
    display: block;
    width:1.6%;
    Height:auto;
    top: 87%;
    left: 71.5%;
    z-index: 7; 
  }

  .woodside-small2:hover{
    transform: scale(1.5);
  }

  .woodside-small{
    position: absolute;
    display: block;
    width:1.6%;
    Height:auto;
    top: 89.5%;
    left: 70.5%;
    z-index: 7; 
  }

  .woodside-small:hover{
    transform: scale(1.5);
  }

  .wölffer-small{
    position: absolute;
    display: block;
    width:1.3%;
    Height:auto;
    top: 87%;
    left: 73.5%;
    z-index: 7; 
  }

  .wölffer-small:hover{
    transform: scale(1.5);
  }

  .windy-hill-small{
    position: absolute;
    display: block;
    width:2.4%;
    Height:auto;
    top: 25.5%;
    left: 90%;
    z-index: 7; 
  }

  .windy-hill-small:hover{
    transform: scale(1.5);
  }

  .westwind-small{
    position: absolute;
    display: block;
    width:1.8%;
    Height:auto;
    top: 57%;
    left: 82%;
    z-index: 7; 
  }

  .westwind-small:hover{
    transform: scale(1.5);
  }

  .wayside-small{
    position: absolute;
    display: block;
    width:1.3%;
    Height:auto;
    top: 39.5%;
    left: 75.7%;
    z-index: 7; 
  }

  .wayside-small:hover{
    transform: scale(1.5);
  } 

  .treasury-small{
    position: absolute;
    display: block;
    width:2.6%;
    Height:auto;
    top: 67.5%;
    left: 87.7%;
    z-index: 7; 
  }

  .treasury-small:hover{
    transform: scale(1.5);
  } 

  .thompsons-small{
    position: absolute;
    display: block;
    width:1.6%;
    Height:auto;
    top: 80.5%;
    left: 88.5%;
    z-index: 7; 
  }

  .thompsons-small:hover{
    transform: scale(1.5);
  } 

  .sundström-small{
    position: absolute;
    display: block;
    width:1%;
    Height:auto;
    top: 61%;
    left: 63.5%;
    z-index: 7; 
  }

  .sundström-small:hover{
    transform: scale(1.5);
  } 

  .sterling-cidery-small{
    position: absolute;
    display: block;
    width:1.5%;
    Height:auto;
    top: 47%;
    left: 18.2%;
    z-index: 7; 
  }

  .sterling-cidery-small:hover{
    transform: scale(1.5);
  } 

  .steampunk-small{
    position: absolute;
    display: block;
    width:2.6%;
    Height:auto;
    top: 11.5%;
    left: 17.4%;
    z-index: 7; 
  }

  .steampunk-small:hover{
    transform: scale(1.5);
  } 

  .star-small{
    position: absolute;
    display: block;
    width:2.8%;
    Height:auto;
    top: 68.4%;
    left: 7.8%;
    z-index: 7; 
  }

  .star-small:hover{
    transform: scale(1.5);
  } 

  .south-hill-small{
    position: absolute;
    display: block;
    width:2.3%;
    Height:auto;
    top: 91.4%;
    left: 19.8%;
    z-index: 7; 
  }

  .south-hill-small:hover{
    transform: scale(1.5);
  } 

  .slyboro-small{
    position: absolute;
    display: block;
    width:2.2%;
    Height:auto;
    top: 36.5%;
    left: 64.8%;
    z-index: 7; 
  }

  .slyboro-small:hover{
    transform: scale(1.5);
  } 

  .seminary-hill-small{
    position: absolute;
    display: block;
    width:1.3%;
    Height:auto;
    top: 57.5%;
    left: 72.3%;
    z-index: 7; 
  }

  .seminary-hill-small:hover{
    transform: scale(1.5);
  } 

  .seed-and-stone-small{
    position: absolute;
    display: block;
    width:1.4%;
    Height:auto;
    top: 17.5%;
    left: 30.3%;
    z-index: 7; 
  }

  .seed-and-stone-small:hover{
    transform: scale(1.5);
  } 

  .scrumpy-ewe-hill-small{
    position: absolute;
    display: block;
    width:2%;
    Height:auto;
    top: 24.5%;
    left: 78.7%;
    z-index: 7; 
  }

  .scrumpy-ewe-hill-small:hover{
    transform: scale(1.5);
  } 

  .rose-hill-small{
    position: absolute;
    display: block;
    width:1.6%;
    Height:auto;
    top: 49%;
    left: 87.7%;
    z-index: 7; 
  }

  .rose-hill-small:hover{
    transform: scale(1.5);
  } 

  .rootstock-small{
    position: absolute;
    display: block;
    width:2.2%;
    Height:auto;
    top: 7.9%;
    left: 17.7%;
    z-index: 7; 
  }

  .rootstock-small:hover{
    transform: scale(1.5);
  } 

  .rockland-small{
    position: absolute;
    display: block;
    width:2.5%;
    Height:auto;
    top: 30.9%;
    left: 79.7%;
    z-index: 7; 
  }

  .rockland-small:hover{
    transform: scale(1.5);
  } 

  .rockland-small2{
    position: absolute;
    display: block;
    width:2.5%;
    Height:auto;
    top: 86.5%;
    left: 61.1%;
    z-index: 7; 
  }

  .rockland-small2:hover{
    transform: scale(1.5);
  } 

  .riverhead-small{
    position: absolute;
    display: block;
    width:1.4%;
    Height:auto;
    top: 88%;
    left: 70.1%;
    z-index: 7; 
  }

  .riverhead-small:hover{
    transform: scale(1.5);
  } 

  .redbyrd-orchard-small2{
    position: absolute;
    display: block;
    width:1.6%;
    Height:auto;
    top: 87%;
    left: 47.3%;
    z-index: 7; 
  }

  .redbyrd-orchard-small2:hover{
    transform: scale(1.5);
  } 

  .redbyrd-orchard-small{
    position: absolute;
    display: block;
    width:1.6%;
    Height:auto;
    top: 86.8%;
    left: 18.8%;
    z-index: 7; 
  }

  .redbyrd-orchard-small:hover{
    transform: scale(1.5);
  } 

  .red-hammer-small{
    position: absolute;
    display: block;
    width:1.0%;
    Height:auto;
    top: 77.8%;
    left: 12.6%;
    z-index: 7; 
  }

  .red-hammer-small:hover{
    transform: scale(1.5);
  } 

  .red-apple-bombshell-small{
    position: absolute;
    display: block;
    width:2.2%;
    Height:auto;
    top: 74.8%;
    left: 14.2%;
    z-index: 7; 
  }

  .red-apple-bombshell-small:hover{
    transform: scale(1.5);
  } 

  .po-boy-small{
    position: absolute;
    display: block;
    width:1.6%;
    Height:auto;
    top: 89%;
    left: 67.8%;
    z-index: 7; 
  }

  .po-boy-small:hover{
    transform: scale(1.5);
  } 

  .phonograph-small{
    position: absolute;
    display: block;
    width:1.6%;
    Height:auto;
    top: 65.5%;
    left: 15.6%;
    z-index: 7; 
  }

  .phonograph-small:hover{
    transform: scale(1.5);
  } 

  .pennings-small{
    position: absolute;
    display: block;
    width:2.2%;
    Height:auto;
    top: 80.7%;
    left: 80.6%;
    z-index: 7; 
  }

  .pennings-small:hover{
    transform: scale(1.5);
  } 

  .patriots-small{
    position: absolute;
    display: block;
    width:2.0%;
    Height:auto;
    top: 11.3%;
    left: 91%;
    z-index: 7; 
  }

  .patriots-small:hover{
    transform: scale(1.5);
  } 

  .original-sin-small{
    position: absolute;
    display: block;
    width:2.0%;
    Height:auto;
    top: 92.8%;
    left: 46.4%;
    z-index: 7; 
  }

  .original-sin-small:hover{
    transform: scale(1.5);
  } 

  .osb-small{
    position: absolute;
    display: block;
    width:1.5%;
    Height:auto;
    top: 49.5%;
    left: 36.6%;
    z-index: 7; 
  }

  .osb-small:hover{
    transform: scale(1.5);
  } 

  .orchard-hill-small{
    position: absolute;
    display: block;
    width:1.6%;
    Height:auto;
    top: 72.5%;
    left: 80.6%;
    z-index: 7; 
  }

  .orchard-hill-small:hover{
    transform: scale(1.5);
  } 

  .oak-apple-small{
    position: absolute;
    display: block;
    width:1.8%;
    Height:auto;
    top: 17.5%;
    left: 33%;
    z-index: 7; 
  }

  .oak-apple-small:hover{
    transform: scale(1.5);
  } 

  .nine-pin-small{
    position: absolute;
    display: block;
    width:1.6%;
    Height:auto;
    top: 20.5%;
    left: 88.5%;
    z-index: 7; 
  }

  .nine-pin-small:hover{
    transform: scale(1.5);
  } 

  .new-york-small{
    position: absolute;
    display: block;
    width:2.5%;
    Height:auto;
    top: 89%;
    left: 19.9%;
    z-index: 7; 
  }

  .new-york-small:hover{
    transform: scale(1.5);
  } 

  .new-leaf-small{
    position: absolute;
    display: block;
    width:3%;
    Height:auto;
    top: 65%;
    left: 47%;
    z-index: 7; 
  }

  .new-leaf-small:hover{
    transform: scale(1.5);
  } 

  .naked-flock-small{
    position: absolute;
    display: block;
    width:1.6%;
    Height:auto;
    top: 78%;
    left: 81.6%;
    z-index: 7; 
  }

  .naked-flock-small:hover{
    transform: scale(1.5);
  } 

  .mountain-mule-small{
    position: absolute;
    display: block;
    width:1.6%;
    Height:auto;
    top: 11%;
    left: 15.6%;
    z-index: 7; 
  }

  .mountain-mule-small:hover{
    transform: scale(1.5);
  } 

  .metal-house-small{
    position: absolute;
    display: block;
    width:2.6%;
    Height:auto;
    top: 56%;
    left: 85.5%;
    z-index: 7; 
  }

  .metal-house-small:hover{
    transform: scale(1.5);
  } 

  .merchants-daughter-small{
    position: absolute;
    display: block;
    width:1.6%;
    Height:auto;
    top: 77.3%;
    left: 89.9%;
    z-index: 7; 
  }

  .merchants-daughter-small:hover{
    transform: scale(1.5);
  } 

  .melo-moon-small{
    position: absolute;
    display: block;
    width:2.4%;
    Height:auto;
    top: 43.3%;
    left: 63.7%;
    z-index: 7; 
  }

  .melo-moon-small:hover{
    transform: scale(1.5);
  } 

  .mckenzies-small{
    position: absolute;
    display: block;
    width:2.4%;
    Height:auto;
    top: 34.3%;
    left: 11%;
    z-index: 7; 
  }

  .mckenzies-small:hover{
    transform: scale(1.5);
  } 

  .lindners-small{
    position: absolute;
    display: block;
    width:1.6%;
    Height:auto;
    top: 41.8%;
    left: 72.2%;
    z-index: 7; 
  }

  .lindners-small:hover{
    transform: scale(1.5);
  } 

  .left-bank-small{
    position: absolute;
    display: block;
    width:1.4%;
    Height:auto;
    top: 60.8%;
    left: 62.2%;
    z-index: 7; 
  }

  .left-bank-small:hover{
    transform: scale(1.5);
  } 

  .lake-drum-small{
    position: absolute;
    display: block;
    width:1.6%;
    Height:auto;
    top: 72%;
    left: 12.7%;
    z-index: 7; 
  }

  .lake-drum-small:hover{
    transform: scale(1.5);
  } 

  .kite-string-small{
    position: absolute;
    display: block;
    width:1.5%;
    Height:auto;
    top: 79.6%;
    left: 16.2%;
    z-index: 7; 
  }

  .kite-string-small:hover{
    transform: scale(1.5);
  } 

  .kings-highway-small{
    position: absolute;
    display: block;
    width:1.2%;
    Height:auto;
    top: 52%;
    left: 91.8%;
    z-index: 7; 
  }

  .kings-highway-small:hover{
    transform: scale(1.5);
  } 

  .kettleborough-small{
    position: absolute;
    display: block;
    width:1.6%;
    Height:auto;
    top: 60%;
    left: 83.8%;
    z-index: 7; 
  }

  .kettleborough-small:hover{
    transform: scale(1.5);
  } 

  .ko-small{
    position: absolute;
    display: block;
    width:1.6%;
    Height:auto;
    top: 5.5%;
    left: 55%;
    z-index: 7; 
  }

  .ko-small:hover{
    transform: scale(1.5);
  } 

  .ilf-small{
    position: absolute;
    display: block;
    width:1.2%;
    Height:auto;
    top: 20.5%;
    left: 86.2%;
    z-index: 7; 
  }

  .ilf-small:hover{
    transform: scale(1.5);
  } 

  .hudson-north-small{
    position: absolute;
    display: block;
    width:1.6%;
    Height:auto;
    top: 68%;
    left: 85.5%;
    z-index: 7; 
  }

  .hudson-north-small:hover{
    transform: scale(1.5);
  } 

  .helderberg-small{
    position: absolute;
    display: block;
    width:1.6%;
    Height:auto;
    top: 50.2%;
    left: 59.8%;
    z-index: 7; 
  }

  .helderberg-small:hover{
    transform: scale(1.5);
  } 

  .hazlitts-small{
    position: absolute;
    display: block;
    width:1.4%;
    Height:auto;
    top: 56.8%;
    left: 42.2%;
    z-index: 7; 
  }

  .hazlitts-small:hover{
    transform: scale(1.5);
  } 

  .hardscrabble-small{
    position: absolute;
    display: block;
    width:1.8%;
    Height:auto;
    top: 77.4%;
    left: 91%;
    z-index: 7; 
  }

  .hardscrabble-small:hover{
    transform: scale(1.5);
  } 

  .grisamore-small{
    position: absolute;
    display: block;
    width:1.5%;
    Height:auto;
    top: 77.2%;
    left: 21.2%;
    z-index: 7; 
  }

  .grisamore-small:hover{
    transform: scale(1.5);
  } 

  .greenpoint-small{
    position: absolute;
    display: block;
    width:1.6%;
    Height:auto;
    top: 95.4%;
    left: 61.8%;
    z-index: 7; 
  }

  .greenpoint-small:hover{
    transform: scale(1.5);
  } 

  .green-sun-small{
    position: absolute;
    display: block;
    width:2.6%;
    Height:auto;
    top: 42.5%;
    left: 68.2%;
    z-index: 7; 
  }

  .green-sun-small:hover{
    transform: scale(1.5);
  } 

  .graft-small{
    position: absolute;
    display: block;
    width:1.6%;
    Height:auto;
    top: 70.5%;
    left: 85.5%;
    z-index: 7; 
  }

  .graft-small:hover{
    transform: scale(1.5);
  } 

  .four-grand-small{
    position: absolute;
    display: block;
    width:1.8%;
    Height:auto;
    top: 43.5%;
    left: 45.5%;
    z-index: 7; 
  }

  .four-grand-small:hover{
    transform: scale(1.5);
  } 

  .forthright-small{
    position: absolute;
    display: block;
    width:2.8%;
    Height:auto;
    top: 56.5%;
    left: 73.8%;
    z-index: 7; 
  }

  .forthright-small:hover{
    transform: scale(1.5);
  } 

  .fly-creek-small{
    position: absolute;
    display: block;
    width:1.8%;
    Height:auto;
    top: 52.3%;
    left: 54.2%;
    z-index: 7; 
  }

  .fly-creek-small:hover{
    transform: scale(1.5);
  } 

  .eves-small{
    position: absolute;
    display: block;
    width:2.8%;
    Height:auto;
    top: 63.8%;
    left: 43.2%;
    z-index: 7; 
  }

  .eves-small:hover{
    transform: scale(1.5);
  } 

  .embark-small{
    position: absolute;
    display: block;
    width:1.6%;
    Height:auto;
    top: 42%;
    left: 39.9%;
    z-index: 7; 
  }

  .embark-small:hover{
    transform: scale(1.5);
  } 

  .east-hollow-small{
    position: absolute;
    display: block;
    width:1.5%;
    Height:auto;
    top: 17.3%;
    left:93.8%;
    z-index: 7; 
  }

  .east-hollow-small:hover{
    transform: scale(1.5);
  } 

  .docs-cider-small{
    position: absolute;
    display: block;
    width:2%;
    Height:auto;
    top: 78.5%;
    left:80.2%;
    z-index: 7; 
  }

  .docs-cider-small:hover{
    transform: scale(1.5);
  } 

  .critz-farms-small{
    position: absolute;
    display: block;
    width:1.5%;
    Height:auto;
    top: 48.7%;
    left:49%;
    z-index: 7; 
  }

  .critz-farms-small:hover{
    transform: scale(1.5);
  } 

  .clarksburg-small{
    position: absolute;
    display: block;
    width:1.8%;
    Height:auto;
    top: 27.5%;
    left:13.8%;
    z-index: 7; 
  }

  .clarksburg-small:hover{
    transform: scale(1.5);
  } 

  .cider-creek-small{
    position: absolute;
    display: block;
    width:1.25%;
    Height:auto;
    top: 59%;
    left:37.3%;
    z-index: 7; 
  }

  .cider-creek-small:hover{
    transform: scale(1.5);
  } 

  .chateau-buffalo-small{
    position: absolute;
    display: block;
    width:1.3%;
    Height:auto;
    top: 27.5%;
    left:9.7%;
    z-index: 7; 
  }

  .chateau-buffalo-small:hover{
    transform: scale(1.5);
  } 

  .brooklyn-small{
    position: absolute;
    display: block;
    width:1.8%;
    Height:auto;
    top: 58.5%;
    left:84.9%;
    z-index: 7; 
  }

  .brooklyn-small:hover{
    transform: scale(1.5);
  } 

  .breezy-hill-small{
    position: absolute;
    display: block;
    width:1.4%;
    Height:auto;
    top: 52.2%;
    left:88.8%;
    z-index: 7; 
  }

  .breezy-hill-small:hover{
    transform: scale(1.5);
  } 

  .blue-toad-small{
    position: absolute;
    display: block;
    width:1.5%;
    Height:auto;
    top: 19.7%;
    left:30.6%;
    z-index: 7; 
  }

  .blue-toad-small:hover{
    transform: scale(1.5);
  } 

  .blue-barn-small{
    position: absolute;
    display: block;
    width:1.5%;
    Height:auto;
    top: 9.3%;
    left:27.8%;
    z-index: 7; 
  }

  .blue-barn-small:hover{
    transform: scale(1.5);
  } 

  .blackman-small{
    position: absolute;
    display: block;
    width:2%;
    Height:auto;
    top: 13.6%;
    left:9.8%;
    z-index: 7; 
  }

  .blackman-small:hover{
    transform: scale(1.5);
  } 

  .blackduck-small{
    position: absolute;
    display: block;
    width:1.5%;
    Height:auto;
    top: 77.4%;
    left:16.6%;
    z-index: 7; 
  }

  .blackduck-small:hover{
    transform: scale(1.5);
  } 

  .black-bird-small2{
    position: absolute;
    display: block;
    width:1.0%;
    Height:auto;
    top: 25.7%;
    left:9.2%;
    z-index: 7; 
  }

  .black-bird-small2:hover{
    transform: scale(1.5);
  } 

  .black-bird-small{
    position: absolute;
    display: block;
    width:1.0%;
    Height:auto;
    top: 5.2%;
    left:15.2%;
    z-index: 7; 
  }

  .black-bird-small:hover{
    transform: scale(1.5);
  } 

  .black-diamond-small{
    position: absolute;
    display: block;
    width:1.5%;
    Height:auto;
    top: 83.3%;
    left:17.8%;
    z-index: 7; 
  }

  .black-diamond-small:hover{
    transform: scale(1.5);
  } 

  .big-apple-small{
    position: absolute;
    display: block;
    width:1.5%;
    Height:auto;
    top: 89.8%;
    left:46.9%;
    z-index: 7; 
  }

  .big-apple-small:hover{
    transform: scale(1.5);
  } 

  .bellwether-small{
    position: absolute;
    display: block;
    width:1.5%;
    Height:auto;
    top: 80.8%;
    left:17.6%;
    z-index: 7; 
  }

  .bellwether-small:hover{
    transform: scale(1.5);
  } 

  .becker-farms-small{
    position: absolute;
    display: block;
    width:1.5%;
    Height:auto;
    top: 11.2%;
    left:14.2%;
    z-index: 7; 
  }

  .becker-farms-small:hover{
    transform: scale(1.5);
  } 

  .bad-seed-small{
    position: absolute;
    display: block;
    width:1.8%;
    Height:auto;
    top: 61%;
    left:85.5%;
    z-index: 7; 
  }

  .bad-seed-small:hover{
    transform: scale(1.5);
  } 

  .awestruck-small{
    position: absolute;
    display: block;
    width:1.3%;
    Height:auto;
    top: 36.6%;
    left:67.2%;
    z-index: 7; 
  }

  .awestruck-small:hover{
    transform: scale(1.5);
  } 

  .cider-1911-small{
    position: absolute;
    display: block;
    width:1.6%;
    Height:auto;
    top: 47.5%;
    left:45.8%;
    z-index: 7; 
  }

  .cider-1911-small:hover{
    transform: scale(1.5);
  } 

  .angry-orchard-small{
    position: absolute;
    display: block;
    width:1.8%;
    Height:auto;
    top: 67.4%;
    left:82.7%;
    z-index: 7; 
  }

  .angry-orchard-small:hover{
    transform: scale(1.5);
  } 

  .adk-small{
    position: absolute;
    display: block;
    width:1.2%;
    Height:auto;
    top: 8%;
    left:64.3%;
    z-index: 7; 
  }

  .adk-small:hover{
    transform: scale(1.5);
  } 

  .abandoned-small3{
    position: absolute;
    display: block;
    width:2%;
    Height:auto;
    top: 50.5%;
    left:85.3%;
    z-index: 7; 
  }

  .abandoned-small3:hover{
    transform: scale(1.5);
  } 

  .abandoned-small2{
    position: absolute;
    display: block;
    width:2%;
    Height:auto;
    top: 48%;
    left:84%;
    z-index: 7; 
  }

  .abandoned-small2:hover{
    transform: scale(1.5);
  } 

  .abandoned-small{
    position: absolute;
    display: block;
    width:2%;
    Height:auto;
    top: 47.5%;
    left:87.8%;
    z-index: 7; 
  }

  .abandoned-small:hover{
    transform: scale(1.5);
  } 

  .aaron-burr-small{
    position: absolute;
    display: block;
    width:2.2%;
    Height:auto;
    top: 68%;
    left:78.7%;
    z-index: 7; 
  }

  .aaron-burr-small:hover{
    transform: scale(1.5);
  } 



































  

  .ny-Counties {
    padding-top:2%;
    position:relative;
    margin: auto;
    display: block;
    width:91.6%;
    z-index: 1;
    }
  
  a .Cider-logos:last-child {
    display: none;  
    }
  
  a:hover .Cider-logos:last-child {
    display: block;  
    }
  
  a:hover .Cider-logos:first-child {
    display: none;  
  }
    
  .ciderlogo{
    Display: grid;
    max-height: 500px;
  }
    
  h1 {
    text-align: center;
    font-family: 'Open Sans';
    Color: white;
    }
  
  h3{
    display:flex;
    justify-content: center;
    margin:auto;
    font-family:"Lato";
    font-weight: 850;
    font-size: 20pt;
    text-align: center;
    Color:#353839;
    }
  
    h3:hover{
      color: #47a8bd;
    }
    
  .cider-info-container{
    display:flex;
    justify-content: center;
    margin:0px;
    }
    
    
  .cider-info{
    margin:3px 0px;
    font-family:"Lato";  
    font-size: 10pt;
    padding-left: 3px;
    padding-right: 3px;
    }
    
  
    
  .address{
    font-size: 10pt; 
    display:flex;
    justify-content: center;
    margin:0px;
    font-family:"Lato";
    color:gray;
    padding-bottom: 12px;
    text-align: center;
    }
  
  a:link{
    text-decoration: none;
  }
  
  a:link:hover{
    font-weight: 900;
  }
  
  
  
  .county-text{
    font-size: 13pt; 
    display:flex;
    justify-content: center;
    margin:0px;
    font-family:"Lato";
    font-weight: 850;
    Color: brown;
    padding-bottom: 10px;
    text-align: center;
    }
    
  .grid-item{
    background-color:white;
    border-radius: 5px;
    padding-top: 12px;
    padding-bottom: 12px;
    }
    
  .pages{
     display:flex;
     justify-content: center;
     Font-size: 12px;
     font-family:"Lato";
     Padding-Top: 15px;
     margin:0;
    }
    
  .search-results{
     display:flex;
     justify-content: center;
     Font-size: 12px;
     font-family:"Lato";
     Color: gray;
     margin:0;
    }
    
  .bottom-menu{
     display:flex;
     justify-content: center;
     Font-size: 12px;
     Padding-bottom:20px;
     font-family:"Lato";
     margin:0;
    }
  
  .insights{
    Padding-right: 20px;
    Padding-left: 20px;
    font-family:"Lato";
    font-size: 14pt;
    }
    
  .zip{
    Padding-right: 60px;
    Padding-left: 60px;
    font-family:Lato;
    font-size: 10.5pt;
    Padding-bottom: 40px; 
    }
    
  footer {
    background-color:brown;
    color: white;
    font-family:"Lato";
    margin-top: -13px;
  }
    