* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    color: #454545;
    background: #47A8BD;
    }
  
  .nav-bar {
    height: 70px;
    background: #a52a2a;
    }
     
  .brand {
    position: absolute;
    padding-left: 20px;
    padding-top: 10px;
    float: left;
    line-height: 70px;
    text-transform: uppercase;
    font-size: 1.4em;
    }
  
  .brand a img {
    max-height: 70px;
    }
  
  .brand a,
  .brand a:visited {
    color: #ffffff;
    text-decoration: none;
    }
     
  .nav-container {
    max-width: 1600px;
    margin: 0 auto;
    }
     
  nav {
    float: right;
    }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    }
  
  nav ul li {
    float: left;
    position: relative;
    z-index:50;
    }
  
  nav ul li a,
  nav ul li a:visited {
    display: block;
    padding: 0 20px;
    line-height: 70px;
    background: #a52a2a;
    color: #ffffff;
    text-decoration: none;
    }
  
  nav ul li a:hover,
  nav ul li a:visited:hover {
    background: #47A8BD;
    color: #ffffff;
    }
  
  nav ul li a:not(:only-child):after,
  nav ul li a:visited:not(:only-child):after {
    padding-left: 4px;
    content: ' ▾';
    }
  
  nav ul li ul li {
    min-width: 100%;
    }
  
  nav ul li ul li a {
    padding: 15px;
    line-height: 20px; 
    }
     
  .nav-dropdown {
    background: #ffffff;
    color: #a52a2a;
    position: absolute;
    display: none;
    z-index: 1;
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
    }
   
   
  .nav-mobile {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    background: #262626;
    height: 70px;
    width: 70px;
    }   
    }
  
  h1 {
    position: absolute;
    right: 0;
    top: 0;
    width: 500px;
    }
  
  
  
  
    .copyright{
      font-size: 8pt;  
      Padding: 5px 40px;
      }
  
  
  
    
    
      
    @media only screen and (max-width: 798px) {
    
      .grid-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        background-color: brown;
         gap: 15px;
         padding: 15px 15px;
       }
  
  
      .copyright{
        text-align: center;
      }
  
      .bottom {
        list-style-type: none;
        Display: flex;
        Padding-right: 40px;
        Padding-top:20px;
        Padding-bottom:3px;
        justify-content:space-between;
        font-size: 0pt;
      }   
  
  
  .container{
    display: flex; 
    }
      
  .untappd{
    width:0px;
    padding:-5px;
    margin: -10px;
    visibility: hidden;
    }
      
  .cider-container{ 
    height: 200px;
    overflow: hidden;
    position: relative; 
    border-top-left-radius: 5px;
    border-top-right-radius: 5px; 
    }
      
  .Cider-logos{
    position: relative;
    width:100%;
    height:160px;
    top: 10px;
    bottom: 5px;
    margin: auto;  
    } 
      
  .Cider-map{
    visibility: hidden;
    Height: 0px;
    Padding: 0px;
    Margin:0px;
    } 
      
  .nav-mobile {
    display: block;
    }
      
  h4{
    text-align: center;
    margin: 0px;
    Padding:10px;
    }
     
  .nav-menu-title{
    font-family: 'lato';
    font-size: 18px; 
    font-weight: bold;
    }
       
  nav {
    width: 100%;
    padding: 70px 0 0 0;
    }
  
  nav ul {
    display: none;
    }
  
  nav ul li {
    float: none;
    }
  
  nav ul li a {
    padding: 15px;
    line-height: 20px;
    text-align: center;
    }
  
  nav ul li ul li a {
    text-align: center;
    }
      
  .nav-dropdown {
    position: static;
  }
  
  .brand a img {  
    max-height: 60px;
    margin-top: 5px;
    }
    }
  
    footer {
      background-color:brown;
      color: white;
      font-family:"Lato";
    }
     
  
  
     @media screen and (min-width: 799px) {
     
      .grid-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        background-color: brown;
         gap: 15px;
         padding: 15px 15px;
       }
  
      .bottom {
        list-style-type: none;
        Display: flex;
        Padding-left: 35px;
        Padding-top:20px;
        margin:8px;
        justify-content:space-between;
        Width:30%;  
        font-size: 16pt;
      }
  
  .untappd{
    width:25px;
    }
      
  .Cider-map{
    display: block; 
    position: relative;
    max-width: 100%;
    }
  
  .cider-container{ 
    height: 350px;
    overflow: hidden;
    position: relative; 
    border-top-left-radius: 5px;
    border-top-right-radius: 5px; 
    }
  
  .Cider-logos{
    position: relative;
    width:100%;
    height:300px;
    top: 10px;
    bottom: 5px;
    margin: auto;  
    }
      
  .nav-list {
    display: block !important;
    }
     
  h4{
    padding-left: 5px;
    margin: 10px;
    }
       
  .nav-menu-title{
    font-family: 'lato';
    font-size: 20px;  
    }
     }
  
  #nav-toggle {
    position: absolute;
    left: 18px;
    top: 22px;
    cursor: pointer;
    padding: 10px 35px 16px 0px;
    }
  
  #nav-toggle span,
  #nav-toggle span:before,
  #nav-toggle span:after {
    cursor: pointer;
    border-radius: 1px;
    height: 5px;
    width: 35px;
    background: #ffffff;
    position: absolute;
    display: block;
    content: '';
    transition: all 300ms ease-in-out;
    }
  
  #nav-toggle span:before {
    top: -10px;
    }
  
  #nav-toggle span:after {
    bottom: -10px;
    }
  
  #nav-toggle.active span {
    background-color: transparent;
    }
  
  #nav-toggle.active span:before, #nav-toggle.active span:after {
    top: 0;
    }
  
  #nav-toggle.active span:before {
    transform: rotate(45deg);
    }
  
  #nav-toggle.active span:after {
    transform: rotate(-45deg);
    }
      
  article {
    max-width: 1000px;
    margin: 0 auto;
    padding: 10px;
    }
    
  .mdmap{
    width:900px;
    }
    
  
  .DC-Logo-Map{
    transform: “translate(-50%, 0%) ” + “scale(” + scale + “)
  }
 
 
  













































  .young-american-small{
    position: absolute;
    display: block;
    width:5%;
    Height:auto;
    top: 22.8%;
    left:83.3%;
    z-index: 7; 
  }

  .young-american-small:hover{
    transform: scale(1.5);
  } 

  .wyndridge-small{
    position: absolute;
    display: block;
    width:1.7%;
    Height:auto;
    top: 91.8%;
    left:57.6%;
    z-index: 7; 
  }

  .wyndridge-small:hover{
    transform: scale(1.5);
  } 

  .wild-elder-small{
    position: absolute;
    display: block;
    width:1.7%;
    Height:auto;
    top: 55.3%;
    left:67.6%;
    z-index: 7; 
  }

  .wild-elder-small:hover{
    transform: scale(1.5);
  } 

  .under-the-bridge-small{
    position: absolute;
    display: block;
    width:2.2%;
    Height:auto;
    top: 75.3%;
    left:60.2%;
    z-index: 7; 
  }

  .under-the-bridge-small:hover{
    transform: scale(1.5);
  } 

  .threadbare-small{
    position: absolute;
    display: block;
    width:2.8%;
    Height:auto;
    top: 53.3%;
    left:8.3%;
    z-index: 7; 
  }

  .threadbare-small:hover{
    transform: scale(1.5);
  } 

  .the-de-cider-small{
    position: absolute;
    display: block;
    width:2.8%;
    Height:auto;
    top: 80.7%;
    left:56.7%;
    z-index: 7; 
  }

  .the-de-cider-small:hover{
    transform: scale(1.5);
  } 

  .tattiebogle-small{
    position: absolute;
    display: block;
    width:1.4%;
    Height:auto;
    top: 80.3%;
    left:28.6%;
    z-index: 7; 
  }

  .tattiebogle-small:hover{
    transform: scale(1.5);
  } 

  .sturges-orchard-small{
    position: absolute;
    display: block;
    width:2.3%;
    Height:auto;
    top: 57.5%;
    left:20.1%;
    z-index: 7; 
  }

  .sturges-orchard-small:hover{
    transform: scale(1.5);
  } 

  .stone-mountain-small{
    position: absolute;
    display: block;
    width:2.5%;
    Height:auto;
    top: 64.5%;
    left:61.5%;
    z-index: 7; 
  }

  .stone-mountain-small:hover{
    transform: scale(1.5);
  } 

  .stone-key-small{
    position: absolute;
    display: block;
    width:2.5%;
    Height:auto;
    top: 79.8%;
    left:73.1%;
    z-index: 7; 
  }

  .stone-key-small:hover{
    transform: scale(1.5);
  } 

  .spacetime-small{
    position: absolute;
    display: block;
    width:1.4%;
    Height:auto;
    top: 34.7%;
    left:68.5%;
    z-index: 7; 
  }

  .spacetime-small:hover{
    transform: scale(1.5);
  } 

  .raw-small{
    position: absolute;
    display: block;
    width:1.7%;
    Height:auto;
    top: 48%;
    left:73.9%;
    z-index: 7; 
  }

  .raw-small:hover{
    transform: scale(1.5);
  } 

  .reid-small{
    position: absolute;
    display: block;
    width:2%;
    Height:auto;
    top: 89.5%;
    left:87.5%;
    z-index: 6; 
  }

  .reid-small:hover{
    transform: scale(1.5);
  } 

  .red-balloon-small{
    position: absolute;
    display: block;
    width:1.7%;
    Height:auto;
    top: 67%;
    left:69.3%;
    z-index: 6; 
  }

  .red-balloon-small:hover{
    transform: scale(1.5);
  } 

  .ploughman-small{
    position: absolute;
    display: block;
    width:1.7%;
    Height:auto;
    top: 85.3%;
    left:88%;
    z-index: 6; 
  }

  .ploughman-small:hover{
    transform: scale(1.5);
  } 

  .original13-small{
    position: absolute;
    display: block;
    width:1.7%;
    Height:auto;
    top: 37%;
    left:86.5%;
    z-index: 6; 
  }

  .original13-small:hover{
    transform: scale(1.5);
  } 

  .old-stone-small{
    position: absolute;
    display: block;
    width:1.7%;
    Height:auto;
    top: 96.7%;
    left:66.3%;
    z-index: 6;  
  }

  .old-stone-small:hover{
    transform: scale(1.5);
  } 

  .old-snap-small{
    position: absolute;
    display: block;
    width:1.5%;
    Height:auto;
    top: 50.8%;
    left:5.8%;
    z-index: 6;  
  }

  .old-snap-small:hover{
    transform: scale(1.5);
  } 

  .moon-small{
    position: absolute;
    display: block;
    width:1.5%;
    Height:auto;
    top: 88.8%;
    left:59.5%;
    z-index: 6;  
  }

  .moon-small:hover{
    transform: scale(1.5);
  } 

  .maple-lawn-small{
    position: absolute;
    display: block;
    width:1.7%;
    Height:auto;
    top: 95.3%;
    left:60%;
    z-index: 6;  
  }

  .maple-lawn-small:hover{
    transform: scale(1.5);
  } 

  .manoff-small{
    position: absolute;
    display: block;
    width:1.7%;
    Height:auto;
    top: 73.5%;
    left:75.5%;
    z-index: 6;  
  }

  .manoff-small:hover{
    transform: scale(1.5);
  } 

  .libations-small{
    position: absolute;
    display: block;
    width:2%;
    Height:auto;
    top: 44.3%;
    left:21.3%;
    z-index: 6;  
  }

  .libations-small:hover{
    transform: scale(1.5);
  } 

  .levengoods-small{
    position: absolute;
    display: block;
    width:2%;
    Height:auto;
    top: 86%;
    left:61.5%;
    z-index: 6;  
  }

  .levengoods-small:hover{
    transform: scale(1.5);
  } 

  .last-leg-small{
    position: absolute;
    display: block;
    width:1.4%;
    Height:auto;
    top: 29%;
    left:68%;
    z-index: 6;  
  }

  .last-leg-small:hover{
    transform: scale(1.5);
  } 

  .lancaster-small{
    position: absolute;
    display: block;
    width:2.2%;
    Height:auto;
    top: 82.8%;
    left:60%;
    z-index: 6;  
  }

  .lancaster-small:hover{
    transform: scale(1.5);
  } 

  .knockin-noggin-small{
    position: absolute;
    display: block;
    width:2%;
    Height:auto;
    top: 45.5%;
    left:19.5%;
    z-index: 6;  
  }

  .knockin-noggin-small:hover{
    transform: scale(1.5);
  } 

  .kingview-Small3{
    position: absolute;
    display: block;
    width:2.2%;
    Height:auto;
    top: 81%;
    left:20.3%;
    z-index: 6;  
  }

  .kingview-Small3:hover{
    transform: scale(1.5);
  } 

  .kingview-Small2{
    position: absolute;
    display: block;
    width:2.2%;
    Height:auto;
    top: 60.3%;
    left:8.8%;
    z-index: 6;  
  }

  .kingview-Small2:hover{
    transform: scale(1.5);
  } 

  .kingview-Small{
    position: absolute;
    display: block;
    width:2.2%;
    Height:auto;
    top: 61.1%;
    left:22%;
    z-index: 6;  
  }

  .kingview-Small:hover{
    transform: scale(1.5);
  } 

  .jacks-Small{
    position: absolute;
    display: block;
    width:1.7%;
    Height:auto;
    top: 91%;
    left:89.7%;
    z-index: 6; 
  }

  .jacks-Small:hover{
    transform: scale(1.5);
  } 

  .innerstoic-Small{
    position: absolute;
    display: block;
    width:2.2%;
    Height:auto;
    top: 33%;
    left:50.5%;
    z-index: 6;  
  }

  .innerstoic-Small:hover{
    transform: scale(1.5);
  } 

  .hardball-Small{
    position: absolute;
    display: block;
    width:1.6%;
    Height:auto;
    top: 54.8%;
    left:73.6%;
    z-index: 6;  
  }

  .hardball-Small:hover{
    transform: scale(1.5);
  } 

  .hale-and-true-Small{
    position: absolute;
    display: block;
    width:2.5%;
    Height:auto;
    top: 42%;
    left:85.8%;
    z-index: 6;  
  }

  .hale-and-true-Small:hover{
    transform: scale(1.5);
  } 

  .grand-illusion-Small{
    position: absolute;
    display: block;
    width:1.8%;
    Height:auto;
    top: 81.5%;
    left:51.7%;
    z-index: 6;  
  }

  .grand-illusion-Small:hover{
    transform: scale(1.5);
  } 

  .good-intent-Small{
    position: absolute;
    display: block;
    width:1.5%;
    Height:auto;
    top: 54.7%;
    left:46%;
    z-index: 6;  
  }

  .good-intent-Small:hover{
    transform: scale(1.5);
  } 

  .godfrey-run-Small{
    position: absolute;
    display: block;
    width:2.5%;
    Height:auto;
    top: 13%;
    left:19.3%;
    z-index: 6;  
  }

  .godfrey-run-Small:hover{
    transform: scale(1.5);
  } 

  .frecon-Small{
    position: absolute;
    display: block;
    width:1.7%;
    Height:auto;
    top: 74.8%;
    left:68.1%;
    z-index: 6;  
  }

  .frecon-Small:hover{
    transform: scale(1.5);
  } 

  .five-maidens-Small{
    position: absolute;
    display: block;
    width:1.7%;
    Height:auto;
    top: 64.4%;
    left:72%;
    z-index: 6;  
  }

  .five-maidens-Small:hover{
    transform: scale(1.5);
  } 

  .dressler-Small{
    position: absolute;
    display: block;
    width:2%;
    Height:auto;
    top: 84.5%;
    left:68.2%;
    z-index: 6;  
  }

  .dressler-Small:hover{
    transform: scale(1.5);
  } 

  .deep-roots-Small{
    position: absolute;
    display: block;
    width:1.5%;
    Height:auto;
    top: 28%;
    left:61.1%;
    z-index: 6;  
  }

  .deep-roots-Small:hover{
    transform: scale(1.5);
  } 

  .conneaut-Small{
    position: absolute;
    display: block;
    width:1.7%;
    Height:auto;
    top: 28.5%;
    left:19.8%;
    z-index: 6;  
  }

  .conneaut-Small:hover{
    transform: scale(1.5);
  } 

  .commonwealth-Small{
    position: absolute;
    display: block;
    width:2.5%;
    Height:auto;
    top: 33.5%;
    left:87%;
    z-index: 6;  
  }

  .commonwealth-Small:hover{
    transform: scale(1.5);
  } 

  .colonel-ricketts-Small{
    position: absolute;
    display: block;
    width:1.4%;
    Height:auto;
    top: 42.1%;
    left:60.5%;
    z-index: 6;  
  }

  .colonel-ricketts-Small:hover{
    transform: scale(1.5);
  } 

  .civil-war-Small{
    position: absolute;
    display: block;
    width:1.5%;
    Height:auto;
    top: 52.7%;
    left:55%;
    z-index: 6;  
  }

  .civil-war-Small:hover{
    transform: scale(1.5);
  } 

  .chester-Small{
    position: absolute;
    display: block;
    width:4%;
    Height:auto;
    top: 89.5%;
    left:68%;
    z-index: 6;  
  }

  .chester-Small:hover{
    transform: scale(1.5);
  } 

  .bullfrog-Small{
    position: absolute;
    display: block;
    width:1.4%;
    Height:auto;
    top: 42.7%;
    left:53.6%;
    z-index: 6;  
  }

  .bullfrog-Small:hover{
    transform: scale(1.5);
  } 

  .brother-monk-Small{
    position: absolute;
    display: block;
    width:1.7%;
    Height:auto;
    top: 63.5%;
    left:34.2%;
    z-index: 6;  
  }

  .brother-monk-Small:hover{
    transform: scale(1.5);
  } 

  .broad-mountain-Small{
    position: absolute;
    display: block;
    width:1.9%;
    Height:auto;
    top: 67%;
    left:56.4%;
    z-index: 6;  
  }

  .broad-mountain-Small:hover{
    transform: scale(1.5);
  } 

  .blackledge-Small{
    position: absolute;
    display: block;
    width:1%;
    Height:auto;
    top: 66.1%;
    left:70.7%;
    z-index: 16;  
  }

  .blackledge-Small:hover{
    transform: scale(1.5);
  } 

  .big-hill-Small{
    position: absolute;
    display: block;
    width:1.4%;
    Height:auto;
    top: 85%;
    left:52.3%;
    z-index: 6;  
  }

  .big-hill-Small:hover{
    transform: scale(1.5);
  }  

  .bella-terra-Small{
    position: absolute;
    display: block;
    width:2.2%;
    Height:auto;
    top: 80.9%;
    left:26%;
    z-index: 6;  
  }

  .bella-terra-Small:hover{
    transform: scale(1.5);
  }  

  .Banters-Small{
    position: absolute;
    display: block;
    width:1.7%;
    Height:auto;
    top: 50.3%;
    left:72.3%;
    z-index: 6;  
  }

  .Banters-Small:hover{
    transform: scale(1.5);
  }  

  .Arundel-Small{
    position: absolute;
    display: block;
    width:2.5%;
    Height:auto;
    top: 5.5%;
    left:24.4%;
    z-index: 6;  
  }

  .Arundel-Small:hover{
    transform: scale(1.5);
  }  

  .crooked-core-Small{
    position: absolute;
    display: block;
    width:1.5%;
    Height:auto;
    top: 73.5%;
    left:26.5%;
    z-index: 6;  
  }

  .crooked-core-Small:hover{
    transform: scale(1.5);
  }  

  .aresenal-Small{
    position: absolute;
    display: block;
    width:1.8%;
    Height:auto;
    top: 53.5%;
    left:11.2%;
    z-index: 6;  
  }

  .aresenal-Small:hover{
    transform: scale(1.5);
  }  
  
  .after-the-fall-Small{
    position: absolute;
    display: block;
    width:1.7%;
    Height:auto;
    top: 60%;
    left:20.3%;
    z-index: 6;  
  }

  .after-the-fall-Small:hover{
    transform: scale(1.5);
  }  
  
  .cider-814-Small{
    position: absolute;
    display: block;
    width:1.5%;
    Height:auto;
    top: 59%;
    left: 44.7%;
    z-index: 6;  
  }

  .cider-814-Small:hover{
    transform: scale(1.5);
  }  
  

  .pa-Counties{
    padding-top:2%;
    position:relative;
    margin: auto;
    display: block;
    width:96%;
    z-index: 1;
    }
  
  a .Cider-logos:last-child {
    display: none;  
    }
  
  a:hover .Cider-logos:last-child {
    display: block;  
    }
  
  a:hover .Cider-logos:first-child {
    display: none;  
  }
    
  .ciderlogo{
    Display: grid;
    max-height: 500px;
  }
    
  h1 {
    text-align: center;
    font-family: 'Open Sans';
    Color: white;
    }
  
  h3{
    display:flex;
    justify-content: center;
    margin:auto;
    font-family:"Lato";
    font-weight: 850;
    font-size: 20pt;
    text-align: center;
    Color:#353839;
    }
  
    h3:hover{
      color: #47a8bd;
    }
    
  .cider-info-container{
    display:flex;
    justify-content: center;
    margin:0px;
    }
    
    
  .cider-info{
    margin:3px 0px;
    font-family:"Lato";  
    font-size: 10pt;
    padding-left: 3px;
    padding-right: 3px;
    }
    
  
    
  .address{
    font-size: 10pt; 
    display:flex;
    justify-content: center;
    margin:0px;
    font-family:"Lato";
    color:gray;
    padding-bottom: 12px;
    text-align: center;
    }
  
  a:link{
    text-decoration: none;
  }
  
  a:link:hover{
    font-weight: 900;
  }
  
  
  
  .county-text{
    font-size: 13pt; 
    display:flex;
    justify-content: center;
    margin:0px;
    font-family:"Lato";
    font-weight: 850;
    Color: brown;
    padding-bottom: 10px;
    text-align: center;
    }
    
  .grid-item{
    background-color:white;
    border-radius: 5px;
    padding-top: 12px;
    padding-bottom: 12px;
    }
    
  .pages{
     display:flex;
     justify-content: center;
     Font-size: 12px;
     font-family:"Lato";
     Padding-Top: 15px;
     margin:0;
    }
    
  .search-results{
     display:flex;
     justify-content: center;
     Font-size: 12px;
     font-family:"Lato";
     Color: gray;
     margin:0;
    }
    
  .bottom-menu{
     display:flex;
     justify-content: center;
     Font-size: 12px;
     Padding-bottom:20px;
     font-family:"Lato";
     margin:0;
    }
  
  .insights{
    Padding-right: 20px;
    Padding-left: 20px;
    font-family:"Lato";
    font-size: 14pt;
    }
    
  .zip{
    Padding-right: 60px;
    Padding-left: 60px;
    font-family:Lato;
    font-size: 10.5pt;
    Padding-bottom: 40px; 
    }
    
  footer {
    background-color:brown;
    color: white;
    font-family:"Lato";
    margin-top: -13px;
  }
    