* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    color: #454545;
    background: #47A8BD;
}
     
.nav-bar {
    height: 70px;
    background: #a52a2a;
}
     
.brand {
    position: absolute;
    padding-left: 20px;
    padding-top: 10px;
    float: left;
    line-height: 70px;
    text-transform: uppercase;
    font-size: 1.4em;
}
  
.brand a img {
    max-height: 70px;
}
  
.brand a,
.brand a:visited {
    color: #ffffff;
    text-decoration: none;
}
     
.nav-container {
    max-width: 1600px;
    margin: 0 auto;
}
     
nav {
    float: right;
}
  
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
  
nav ul li {
    float: left;
    position: relative;
    z-index:50;
}
  
nav ul li a,
nav ul li a:visited {
    display: block;
    padding: 0 20px;
    line-height: 70px;
    background: #a52a2a;
    color: #ffffff;
    text-decoration: none;
}
  
nav ul li a:hover,
nav ul li a:visited:hover {
    background: #47A8BD;
    color: #ffffff;
}
  
nav ul li a:not(:only-child):after,
nav ul li a:visited:not(:only-child):after {
    padding-left: 4px;
    content: ' ▾';
}
  
nav ul li ul li {
    min-width: 100%;
}
  
nav ul li ul li a {
    padding: 15px;
    line-height: 20px; 
}
     
.nav-dropdown {
    background: #ffffff;
    color: #a52a2a;
    position: absolute;
    display: none;
    z-index: 1;
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
}
   
.nav-mobile {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    background: #262626;
    height: 70px;
    width: 70px;
}   
}
  
h1 {
    position: absolute;
    right: 0;
    top: 0;
    width: 500px;
}
   
.copyright{
    font-size: 8pt;  
    Padding: 5px 40px;
    }


  @media only screen and (max-width: 798px) {

    .grid-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        background-color: brown;
         gap: 15px;
         padding: 15px 15px;
       }

    .copyright{
        text-align: center;
      }


    .bottom {
        list-style-type: none;
        Display: flex;
        Padding-right: 40px;
        Padding-top:20px;
        Padding-bottom:3px;
        justify-content:space-between;
        font-size: 0pt;
      }     

.container{
    display: flex; 
}
      
.untappd{
    width:0px;
    padding:-5px;
    margin: -10px;
    visibility: hidden;
}
      
.cider-container{ 
    height: 200px;
    overflow: hidden;
    position: relative; 
    border-top-left-radius: 5px;
    border-top-right-radius: 5px; 
}
      
.Cider-logos{
    position: relative;
    width:100%;
    height:160px;
    top: 10px;
    bottom: 5px;
    margin: auto;  
} 
      
.Cider-map{
    visibility: hidden;
    Height: 0px;
    Padding: 0px;
    Margin:0px;
} 
      
.nav-mobile {
    display: block;
}
      
h4{
    text-align: center;
    margin: 0px;
    Padding:10px;
}
     
.nav-menu-title{
    font-family: 'lato';
    font-size: 18px; 
    font-weight: bold;
}
       
nav {
    width: 100%;
    padding: 70px 0 0 0;
}
  
nav ul {
    display: none;
}
  
nav ul li {
    float: none;
}
  
nav ul li a {
    padding: 15px;
    line-height: 20px;
    text-align: center;
}
  
nav ul li ul li a {
    text-align: center;
}
      
.nav-dropdown {
    position: static;
}
  
.brand a img {  
    max-height: 60px;
    margin-top: 5px;
}
}
  
footer {
    background-color:brown;
    color: white;
    font-family:"Lato";
  }
   

  
   @media screen and (min-width: 799px) {
  
    .grid-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        background-color: brown;
         gap: 15px;
         padding: 15px 15px;
       }

    .bottom {
        list-style-type: none;
        Display: flex;
        Padding-left: 35px;
        Padding-top:20px;
        margin:8px;
        justify-content:space-between;
        Width:30%;  
        font-size: 16pt;
      }
  
.untappd{
    width:25px;
}
      
.Cider-map{
    display: block; 
    position: relative;
    max-width: 100%;
}
  
.cider-container{ 
    height: 350px;
    overflow: hidden;
    position: relative; 
    border-top-left-radius: 5px;
    border-top-right-radius: 5px; 
}
  
.Cider-logos{
    position: relative;
    width:100%;
    height:300px;
    top: 10px;
    bottom: 5px;
    margin: auto;  
}
      
.nav-list {
    display: block !important;
}
     
h4{
    padding-left: 5px;
    margin: 10px;
}
       
.nav-menu-title{
    font-family: 'lato';
    font-size: 20px;  
}
}
  
#nav-toggle {
    position: absolute;
    left: 18px;
    top: 22px;
    cursor: pointer;
    padding: 10px 35px 16px 0px;
}
  
#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
    cursor: pointer;
    border-radius: 1px;
    height: 5px;
    width: 35px;
    background: #ffffff;
    position: absolute;
    display: block;
    content: '';
    transition: all 300ms ease-in-out;
}
  
#nav-toggle span:before {
    top: -10px;
}
  
#nav-toggle span:after {
    bottom: -10px;
}
  
#nav-toggle.active span {
    background-color: transparent;
}
  
#nav-toggle.active span:before, #nav-toggle.active span:after {
    top: 0;
}
  
#nav-toggle.active span:before {
    transform: rotate(45deg);
}
  
#nav-toggle.active span:after {
    transform: rotate(-45deg);
}
      
article {
    max-width: 1000px;
    margin: 0 auto;
    padding: 10px;
}
    
.mdmap{
    width:900px;
}
  
.DC-Logo-Map{
    transform: “translate(-50%, 0%) ” + “scale(” + scale + “)
}

.Cider-map{
    display: block; 
    position: relative;
    max-width: 100%;
}

.Albemarle-Small{
    position: absolute;
    display: block;
    width: 2.4%;
    Height:auto;
    top: 36.5%;
    left: 18%;
    z-index: 2;
}

.Blue-Bee-Small{
    position: absolute;
    display: block;
    width:2%;
    Height:auto;
    top: 16%;
    left: 86%;
    z-index: 2;
}

.Big-Fish-Small{
    position: absolute;
    display: block;
    width:2.5%;
    Height:auto;
    top: 35%;
    left: 48.5%;
    z-index: 4;
}

.Blue-Toad-Small{
    position: absolute;
    display: block;
    width: 1.6%;
    Height:auto;
    top: 44.5%;
    left: 10.8%;
    z-index: 6;
    }

.Bold-Rock-Small{
    position: absolute;
    display: block;
    width: 1.4%;
    Height:auto;
    top: 34.5%;
    left: 22.5%;
    z-index: 7;
}

.Bold-Rock-Small-2{
    position: absolute;
    display: block;
    width: 1.4%;
    Height:auto;
    top: 42.5%;
    left: 11.8%;
    z-index: 6;
    }

.Bryants-Cider-Small{
position: absolute;
display: block;
width: 1.4%;
Height:auto;
top: 51.5%;
left: 10.2%;
z-index: 6;
}

.Bryants-Cider-Small-2{
    position: absolute;
    display: block;
    width:1.4%;
    Height:auto;
    top: 21%;
    left: 90.7%;
    z-index: 2;
}

.Buskey-Small{
    position: absolute;
    display: block;
    width:1.4%;
    Height:auto;
    top: 18%;
    left: 88%;
    z-index: 2;
}
   
.Buskey-Small-2{
    position: absolute;
    display: block;
    width:1.4%;
    Height:auto;
    top: 73%;
    left: 87.7%;
    z-index: 9;
}

.Capital-Hive-Small{
position: absolute;
display: block;
width: 1.5%;
Height:auto;
top: 22%;
left: 43.5%;
z-index: 8;
}

.Castle-Hill-Small{
position: absolute;
display: block;
width:2%;
Height:auto;
top: 26.5%;
left: 25.5%;
z-index: 8;
}

.Chateau-Morrisette-Small{
position: absolute;
display: block;
width:3%;
Height:auto;
top: 88%;
left: 39.2%;
z-index: 8;
}

.Cider-Lab-Small{
    position: absolute;
    display: block;
    width:3.25%;
    Height:auto;
    top: 36%;
    left: 68.2%;
    z-index: 11;
}

.Ciders-From-Mars-Small{
position: absolute;
 display: block;
width:1.6%;
Height:auto;
top: 44.5%;
left: 54.3%;
z-index: 11;
}

.Cobbler-Mountain-Small{
position: absolute;
display: block;
width:1.3%;
Height:auto;
top: 22.5%;
left: 67%;
z-index: 11;
}

.Corcoran-Small{
    position: absolute;
    display: block;
    width:3.5%;
    Height:auto;
    top: 11%;
    left: 40%;
    z-index: 11;
}

.Courthouse-Creek-Small{
    position: absolute;
    display: block;
    width:1.6%;
    Height:auto;
    top: 60%;
    left: 67.1%;
    z-index: 11;
}

.Coyote-Hole-Small{
    position: absolute;
    display: block;
    width:1.6%;
     Height:auto;
    top: 48%;
    left: 66.5%;
    z-index: 11;
}

.Ditchley-Cider-Works-Small{
    position: absolute;
    display: block;
    width:2.5%;
    Height:auto;
    top: 57%;
    left: 83.5%;
    z-index: 11;
}

.Fabbioli-Cellars-Small{
    position: absolute;
    display: block;
    width:2%;
    Height:auto;
    top: 13%;
    left: 42.5%;
    z-index: 11;
}

.Halcyon-Days-Cider-Co-Small{
    position: absolute;
    display: block;
    width:2.5%;
    Height:auto;
    top: 61.5%;
    left: 50.1%;
    z-index: 11;
}

.Henway-Small{
    position: absolute;
    display: block;
    width:3.5%;
    Height:auto;
    top: 21%;
    left: 35.5%;
    z-index: 11;
}

.Hinson-Ford-Cider-Small{
    position: absolute;
    display: block;
    width:2.2%;
    Height:auto;
    top: 29%;
    left: 65.4%;
    z-index: 11;
}

.Lost-Boy-Cider-Small{
    position: absolute;
    display: block;
    width:1.2%;
    Height:auto;
    top: 20.8%;
    left: 75.4%;
    z-index: 11;
}

.Monroe-Small{
    position: absolute;
    display: block;
    width:2%;
    Height:auto;
    top:41.5%;
    left: 76.2%;
    z-index: 11;
}

.Mt-Defiance-Small{
    position: absolute;
    display: block;
    width:2%;
    Height:auto;
    top:30%;
    left: 39%;
    z-index: 11;
}
    
.Old-Hill-Small{
    position: absolute;
    display: block;
    width:1.2%;
    Height:auto;
    top:28.5%;
    left: 56.5%;
    z-index: 11;
}

.Old-Town-Small{
    position: absolute;
    display: block;
    width:2%;
    Height:auto;
    top:14%;
    left: 63.5%;
    z-index: 11;
}
    
.Old-Trade-Small{
    position: absolute;
    display: block;
    width:1.6%;
    Height:auto;
    top:32%;
    left: 66%;
    z-index: 11;
}

.Pen-Druid-Small{
    position: absolute;
    display: block;
    width:1.2%;
    Height:auto;
    top:28%;
    left: 63.8%;
    z-index: 11;
}

.Potters-Craft-Cider-Small{
    position: absolute;
    display: block;
    width: 1.8%;
    Height:auto;
    top: 34.5%;
    left: 20%;
    z-index: 7;
}

.Pro-Re-Nata-Small{
    position: absolute;
    display: block;
    width: 3%;
    Height:auto;
    top: 32.5%;
    left: 16.1%;
    z-index: 7;
}

.Sage-Bird-Small{
    position: absolute;
    display: block;
    width: 2.5%;
    Height:auto;
    top: 36.8%;
    left: 56%;
    z-index: 7;
}

.Sly-Clyde-Small{
    position: absolute;
    display: block;
    width: 3%;
    Height:auto;
    top: 81%;
    left: 83.5%;
    z-index: 7;
}

.Son-of-a-bear-Small{
    position: absolute;
    display: block;
    width: 1.6%;
    Height:auto;
    top: 41.2%;
    left: 66%;
    z-index: 7;
}

.Stable-Craft-Brewing-Small{
    position: absolute;
    display: block;
    width: 1.6%;
    Height:auto;
    top: 49%;
    left: 56%;
    z-index: 7;
}

.Stangeways-Small{
    position: absolute;
    display: block;
    width:2.2%;
    Height:auto;
    top: 40.5%;
    left: 71%;
    z-index: 3;
}

.Stangeways-Small-2{
    position: absolute;
    display: block;
    width:2.2%;
    Height:auto;
    top: 14.5%;
    left: 87.7%;
    z-index: 3;
}

.Stangeways-Small-3{
    position: absolute;
    display: block;
    width:2.2%;
    Height:auto;
    top: 63%;
    left: 71.5%;
    z-index: 3;
}

.Sugar-Hill-Small{
    position: absolute;
    display: block;
    width:1.3%;
    Height:auto;
    top: 82.5%;
    left: 16%;
    z-index: 3;
}

.Kindred-Pointe-Small{
    position: absolute;
    display: block;
    width:2.2%;
    Height: auto;
    top: 23%;
    left: 59.2%;
    z-index: 3;
}

.Troddenvale-Small{
    position: absolute;
    display: block;
    width:2.5%;
    Height:auto%;
    top: 48%;
    left: 46.2%;
    z-index: 3;
}

.Tumbling-Creek-Small{
    position: absolute;
    display: block;
    width:1.5%;
    Height:auto;
    top: 90%;
    left: 22.9%;
    z-index: 3;
}

.West-Creek-Small{
    position: absolute;
    display: block;
    width: 1.6%;
    Height:auto;
    top: 64.5%;
    left: 70%;
    z-index: 6;
}
 
.Wild-Hare-Cider-Small{
    position: absolute;
    display: block;
    width: 2.5%;
    Height:auto;
    top: 20%;
    left: 42.5%;
    z-index: 6;
}
        
.Wild-Hare-Cider-Small-2{
    position: absolute;
    display: block;
    width: 2.5%;
    Height:auto;
    top: 28%;
    left: 37%;
    z-index: 6;
}

.Wild-Hare-Cider-Small-3{
    position: absolute;
    display: block;
    width: 2.5%;
    Height:auto;
    top: 28%;
    left: 67.8%;
    z-index: 6;
}

.Winchester-Ciderworks-Small{
    position: absolute;
    display: block;
    width: 3%;
    Height:auto;
    top: 11%;
    left: 63.7%;
    z-index: 11;
}

.Blue-Toad-Small:hover{
        transform: scale(2);
}
    
.Buskey-Small:hover{
        transform: scale(2);
}
       
.Buskey-Small-2:hover{
        transform: scale(2);
}
        
.Bold-Rock-Small:hover{
        transform: scale(2);
}
         
.Bold-Rock-Small-2:hover{
        transform: scale(2);
}
    
.Bold-Rock-Small-3:hover{
        transform: scale(2);
}
      
.Bryants-Cider-Small:hover{
    transform: scale(2);
}
          
.Bryants-Cider-Small-2:hover{
    transform: scale(2);
}
      
.Blue-Bee-Small:hover{
        transform: scale(2);
}
        
.Big-Fish-Small:hover{
        transform: scale(2);
}
         
.Capital-Hive-Small:hover{
        transform: scale(2);
}
         
.Castle-Hill-Small:hover{
        transform: scale(2);
}
         
.Chateau-Morrisette-Small:hover{
        transform: scale(2);
}
        
.Albemarle-Small:hover{
        transform: scale(2);
}    
    
.Cider-Lab-Small:hover{
        transform: scale(2);
}
    
.Ciders-From-Mars-Small:hover{
        transform: scale(2);
}
       
.Cobbler-Mountain-Small:hover{
        transform: scale(2);
}
  
.Corcoran-Small:hover{
        transform: scale(2);
}
      
.Courthouse-Creek-Small:hover{
        transform: scale(2);
}
         
.Coyote-Hole-Small:hover{
        transform: scale(2);
}
        
.Ditchley-Cider-Works-Small:hover{
        transform: scale(2);
}
          
.Fabbioli-Cellars-Small:hover{
        transform: scale(2);
}
         
.Halcyon-Days-Cider-Co-Small:hover{
        transform: scale(2);
}
      
.Henway-Small:hover{
        transform: scale(2);
}
         
.Hinson-Ford-Cider-Small:hover{
    transform: scale(2);
}
       
.Lost-Boy-Cider-Small:hover{
    transform: scale(2);
}
         
.Monroe-Small:hover{
    transform: scale(2);
}
        
.Mt-Defiance-Small:hover{
    transform: scale(2);
}
          
.Old-Hill-Small:hover{
    transform: scale(2);
}
      
.Old-Town-Small:hover{
        transform: scale(2);
}
         
.Old-Trade-Small:hover{
        transform: scale(2);
}
      
.Pen-Druid-Small:hover{
        transform: scale(2);
}
      
.Potters-Craft-Cider-Small:hover{
        transform: scale(2);
}
      
.Pro-Re-Nata-Small:hover{
        transform: scale(2);
}
    
.Sage-Bird-Small:hover{
        transform: scale(2);
}
       
.Sly-Clyde-Small:hover{
    transform: scale(2);
}
     
.Son-of-a-bear-Small:hover{
        transform: scale(2);
}
      
.Stable-Craft-Brewing-Small:hover{
        transform: scale(2);
}
      
.Stangeways-Small:hover{
        transform: scale(2);
}
      
.Stangeways-Small-2:hover{
        transform: scale(2);
}

.Stangeways-Small-3:hover{
    transform: scale(2);
}
      
.Sugar-Hill-Small:hover{
        transform: scale(2);
}
      
.Kindred-Pointe-Small:hover{
        transform: scale(2);
}
      
.Troddenvale-Small:hover{
        transform: scale(2);
}
      
.Tumbling-Creek-Small:hover{
        transform: scale(2);
}
      
.West-Creek-Small:hover{
        transform: scale(2);
}
        
.Wild-Hare-Cider-Small:hover{
        transform: scale(2);
}
             
.Wild-Hare-Cider-Small-2:hover{
        transform: scale(2);
}
      
.Wild-Hare-Cider-Small-3:hover{
        transform: scale(2);
}
    
.Winchester-Ciderworks-Small:hover{
        transform: scale(2);
}
      
.VA-Map{
    padding-top:2%;
    margin: auto;
    display: block;
    width:90%;
    height:73%;
    z-index: 1;
}

a .Cider-logos:last-child {
    display: none;  
}

a:hover .Cider-logos:last-child {
    display: block;  
}

a:hover .Cider-logos:first-child {
    display: none;  
}

.ciderlogo{
    Display: grid;
    max-height: 500px;
}
    
h1 {
    text-align: center;
    font-family: 'Open Sans';
    Color: white;
}
  
h3{
    display:flex;
    justify-content: center;
    margin:auto;
    font-family:"Lato";
    font-weight: 850;
    font-size: 20pt;
    text-align: center;
    Color:#353839;
    }
  
    h3:hover{
      color: #47a8bd;
    }
    
.cider-info-container{
    display:flex;
    justify-content: center;
    margin:0px;
}
       
.cider-info{
    margin:3px 0px;
    font-family:"Lato";  
    font-size: 10pt;
    padding-left: 3px;
    padding-right: 3px;
}
     
.address{
    font-size: 10pt; 
    display:flex;
    justify-content: center;
    margin:0px;
    font-family:"Lato";
    color:gray;
    padding-bottom: 12px;
    text-align: center;
}

a:link{
    text-decoration: none;
  }
  
  a:link:hover{
    font-weight: 900;
  }

.county-text{
    font-size: 13pt; 
    display:flex;
    justify-content: center;
    margin:0px;
    font-family:"Lato";
    font-weight: 850;
    Color: brown;
    padding-bottom: 10px;
    text-align: center;
}
    
.grid-item{
    background-color:white;
    border-radius: 5px;
    padding-top: 12px;
    padding-bottom: 12px;
    }
    
footer {
    background-color:brown;
    color: white;
    font-family:"Lato";
    margin-top: -13px;
  }
      
